@using LiteAbpUBD.Business.Dtos
@using Volo.Abp.Application.Dtos
@using Microsoft.AspNetCore.Authorization
@using LiteAbpUBD.Business
@inject IAuthorizationService authorizationService

@model PagedResultDto<UserDto>
@foreach (UserDto user in Model.Items)
{
    <tr>
        <td class="text-muted">
            @user.UserName
        </td>
        <td class="text-muted">
            @user.Name
        </td>
        <td class="text-muted">
            @user.PhoneNumber
        </td>
        <td class="text-muted">
            @string.Join("、",user.Roles.Select(x=>x.Name))
        </td>
        <td class="text-muted">
            @(@user.IsActive?"启用":"禁用")
        </td>
        <td data-item="@Newtonsoft.Json.JsonConvert.SerializeObject(user)">
            <div class="btn-list flex-nowrap">
                @if (authorizationService.AuthorizeAsync(PermissionConsts.用户管理_编辑).Result.Succeeded)
                {
                    <a href="#" class="btn page-btn-edit">编辑</a>
                }
                @if (authorizationService.AuthorizeAsync(PermissionConsts.用户管理_删除).Result.Succeeded)
                {
                    <a href="#" class="btn page-btn-del">删除</a>
                }
            </div>
        </td>
    </tr>
}
@if (Model.Items.Count <= 0)
{
    <tr>
        <td class="text-muted" colspan="3">
            没有更多的数据了..
        </td>
    </tr>
}
{{@Model.TotalCount}}